.sidebar-container {
  width: 200px;
  height: 100vh;
  margin-right: 10px;
}

.small-sidebar-container {
  width: 20%;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.big-sidebar-container {
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #14204a;
}

.big-sidebar-container a {
  text-decoration: none;
  color: #14204a;
  padding: 10px 0;
}

.big-sidebar-container a:hover {
  color: #14204a;
  background-color: rgb(200, 199, 199);
}
